{{#each posts as |post| }}
<a href="/post/{{post.id}}" class="post">
    <div class="card">
    <div class="card-header display-flex justify-space-between">
        <h2 class="post-title">{{post.title}}</h2>
        <h3 class="post-user">Posted by {{post.user.name}} on {{format_date post.date_posted}}</h3>
    </div>
    <p class="post-body card-body">{{post.body}}</p>
    </div>
</a>
{{/each}}