<div class="card">
    <div class="card-header display-flex justify-space-between">
        <h2 class="post-title">{{title}}</h2>
        <h3 class="post-user">Posted by {{user.name}} on {{format_date date_posted}}</h3>
    </div>
    <p class="post-body card-body">{{body}}</p>
</div>
{{#if logged_in}}
<form class="form" id="add-comment-form">
    <div class="form-group">
        <label for="comment-body">Add Comment Here...</label>
        <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-id="{{id}}">Comment</button>
    </div>
</form>
{{else}}
<a href="/login">Log in to comment</a>
{{/if}}
{{#each comments as |comment| }}
{{> comment-details}}
{{/each}}

<script src="./js/comment.js"></script>